body {
    text-align: center;
    background-image: url("bgimg.jpg");
}
.gameInit{
	position: absolute;
	background-image: url("bgimg1.jpg");
	border-radius: 8px; 
    left: 0;
    right: 0;
    top: 50px;
    width: 515px;
    height: 550px;
    margin: 0 auto;
    padding: 1em 2em;
    transition-duration: 4s;
}

.gameOver{
	text-align: center;
	background-image: url("bgimg3.jpg");
    width: 512px;
    height: 560px;
    position: absolute;
    top: 55px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 5px;
    display: none;
  
}

.gameWon{
	text-align: center;
	background-image: url("bgimg2.png");
    width: 512px;
    height: 560px;
    position: absolute;
    top: 55px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 5px;
    display: none;
  
}

button{
	cursor: pointer;
}